<% include ../functions/datetimeconvert %>

<!-- Workexps Attachement Modal -->
<% workexps.forEach(function(workexp){ %>
<div class="modal fade bd-aj12<%= workexp._id %>-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel"><%= workexp.filetitle %></h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		
		        <div class="see-Attachment-resume-session d-flex justify-content-start">
								<% if(workexp.fileurl.length > 0){ %>
								  <% for(var i = 0 ; i < workexp.fileurl.length ; i++){ %>
									<div class="pdf-preview">
										<div class="img-session">
											<a href="<%= workexp.fileurl[i].dataurl %>" target="_blank">
												<img class="main-first-page-of-pdf" src="<%= convertimg(workexp.fileurl[i].dataurl).url %>" slt="pdf-img">
											</a>
											<div class="text-of-pdf-card d-flex justify-content-between">
											  <% var data = workexp.fileurl[i].dataurl %>
							<p class="offer-letter-text">Attachment<%= i+1 %>.<%= data.substring(data.lastIndexOf(".")+1) %></p>
												<p class="cross-button-of-pdf"><a href="/user/workexp/<%= workexp._id %>/<%= workexp.fileurl[i].dataid %>"><img src="/images/home/cross.svg"></a></p>
											</div>

										</div>
								    </div>
									<% }} %>
							 </div>
			</div>
	</div>
</div>
<% }); %>


<!-- Education Attachement Modal -->
<% educations.forEach(function(education){ %>
<div class="modal fade bd-ed12<%= education._id %>-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel"><%= education.filetitle %></h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		        <div class="see-Attachment-resume-session d-flex justify-content-start">
								<% if(education.fileurl.length > 0){ %>
						          <% for(var i = 0 ; i < education.fileurl.length ; i++){ %>
									<div class="pdf-preview">
										<div class="img-session">
											<a href="<%= education.fileurl[i].dataurl %>" target="_blank">
												<img class="main-first-page-of-pdf" src="<%= convertimg(education.fileurl[i].dataurl).url %>" slt="pdf-img">
											</a>
											<div class="text-of-pdf-card d-flex justify-content-between">
												<% var data = education.fileurl[i].dataurl %>
										<p class="offer-letter-text">Attachment<%= i+1 %>.<%= data.substring(data.lastIndexOf(".")+1) %></p>
												<p class="cross-button-of-pdf"><a href="/user/education/<%= education._id %>/<%= education.fileurl[i].dataid %>"><img src="/images/home/cross.svg"></a></p>
											</div>

										</div>
								    </div>
									<% }} %>
							 </div>
			</div>
	</div>
</div>
<% }); %>
