<!-- Add Work exp upload models -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<div class="preloader-all-pages main-loader-div">
		  <svg class="loading-box">
              <circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
					cy="24" r="17"></circle>
           </svg>
        </div>
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel">Add your work experience</h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		      <form class="submit-forms" id="send-offerletter-for-offerletter-page" action="/user/<%= user._id %>/resume/workexp" method="POST" enctype="multipart/form-data">
			      <div id="workexp-modal-body" class="modal-body">
				    <div id="first-form-row" class="form-row">
						<div class="form-group col-md-6">
							<label for="recipient-name" class="col-form-label">Title</label>
							<input type="text" class="form-control" id="recipient-name" name="role">
					    </div>
					   <div class="form-group col-md-6">
						<label for="recipient-name" class="col-form-label">Company Name</label>
						<input type="text" class="form-control" id="recipient-name" name="companyname">
					  </div>
				  </div>	
				  <div id="second-form-row" class="form-row">
					  <div class="form-group col-md-6">
						<label for="worked-from" class="col-form-label">Worked from</label>
						<input type="date" class="form-control" id="worked-from" name="workedfrom">
					  </div>
					  <div class="form-group col-md-6">
						<label for="worked-to" class="col-form-label">Worked To</label>
						<input type="date" class="form-control" id="worked-to" name="Workedto">
					  </div>
					</div>
				      <div id="form-check" class="form-check">
						  <label class="form-check-label" for="exampleCheck1">Currently Working There</label>
                          <input type="checkbox" class="form-check-input" id="exampleCheck1" name="currentworking" value="yes"><p>( If yes Then click on checkbox )</p>
                     </div>
				   <div id="third-form-row" class="form-row">
					   <div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">City</label>
						 <input type="text" class="form-control" id="recipient-name" name="city">
					   </div>
					   <div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">Country</label>
						 <input type="text" class="form-control" id="recipient-name" name="country">
					   </div>
					</div>
				    <div id="third-form-row" class="form-row">
						<div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">File Title</label>
						 <input type="text" class="form-control" id="recipient-name" name="filetitle">
					   </div>
				    </div>
					 <div id="forth-form-row" class="form-row">
						 <div id="input-file-of-attachment" class="col-md-12">
						   <button id="each-offerletter-button-accept-3" type="button" class="btn btn-sm btn-primary">
							  <label for="attach-file-session" id="attachment-label-offerletter-page" class="col-form-label"> 
								  <img id="attchment-file-new-send-offerletter" src="/images/main-pages/white-attach-file.svg"                                                alt="attchment-image" > Attach file </label> </button> <span id="attachment-text">No Files choosen, Yet.</span> 
							 <input type="file" class="d-none form-control" id="attach-file-session" name="filedata" multiple required>
				         </div>
					  </div>
					  <div id="text-area-fleld" class="form-group text-area-div-session">
						<label for="message-text" class="col-form-label">Description</label>
						<textarea class="form-control" id="message-text" rows="5" name="text"></textarea>
					  </div>
				      <div class="send-offerletter-shortcut-div d-flex justify-content-center">
						  <button id="each-offerletter-button-accept-3" type="submit" class="btn btn-sm btn-primary">Save</button>
					  </div>
			     </div>
			    </form>
			</div>
	</div>
</div>


<!-- Education  MODEL -->
<div class="modal fade bd-education-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<div class="preloader-all-pages main-loader-div">
		  <svg class="loading-box">
              <circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
					cy="24" r="17"></circle>
           </svg>
        </div>
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel">Add your Education Details</h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		      <form class="submit-forms" id="send-offerletter-for-offerletter-page" action="/user/<%= user._id %>/resume/education" method="POST" enctype="multipart/form-data">
			      <div id="workexp-modal-body" class="modal-body">
				   <div id="first-form-row" class="form-row">
						<div class="form-group col-md-6">
						<label for="recipient-name" class="col-form-label">Degree</label>
						<input type="text" class="form-control" id="recipient-name" name="degree">
					  </div>
					   <div class="form-group col-md-6">
						<label for="recipient-name" class="col-form-label">College Name</label>
						<input type="text" class="form-control" id="recipient-name" name="collagename">
					  </div>
				  </div>
				  <div id="third-form-row" class="form-row">
					  <div class="form-group col-md-6">
						<label for="feild-of-study" class="col-form-label">Field Of Study</label>
						<input type="text" class="form-control" id="feild-of-study" name="studyfield">
					  </div> 
				  </div>
				  <div id="second-form-row" class="form-row">
					  <div class="form-group col-md-6">
						<label for="recipient-name" class="col-form-label">Year of Joining</label>
						<input type="date" class="form-control" id="recipient-name" name="studiedfrom">
					  </div>
					  <div class="form-group col-md-6">
						<label for="recipient-name" class="col-form-label">Year Of Completion</label>
						<input type="date" class="form-control" id="recipient-name" name="studiedto">
					  </div>
					</div>
				   <div id="third-form-row" class="form-row">
						<div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">File Title</label>
						 <input type="text" class="form-control" id="recipient-name" name="filetitle">
					   </div>
				    </div>
				   <div id="forth-form-row" class="form-row">
						 <div id="input-file-of-attachment" class="col-md-12">
						   <button id="each-offerletter-button-accept-3" type="button" class="btn btn-sm btn-primary">
							  <label for="attach-file-session2" id="attachment-label-offerletter-page" class="col-form-label"> 
								  <img id="attchment-file-new-send-offerletter" src="/images/main-pages/white-attach-file.svg"                                                alt="attchment-image" > Attach file </label> 
							 </button> <span id="attachment-text2">No File choosen, Yet.</span> 
							 <input type="file" class="d-none form-control" id="attach-file-session2" name="educationfiles" multiple required>
				         </div>
					  </div>
				   <div id="forth-form-row" class="form-row text-area-div-session">
					   <div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">City</label>
						 <input type="text" class="form-control" id="recipient-name" name="city">
					   </div>
					   <div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">Country</label>
						 <input type="text" class="form-control" id="recipient-name" name="country">
					   </div>
					</div>
				      <div id="grade-session" class="form-group">
						 <label for="recipient-name" class="col-form-label">Grade</label>
						 <input type="text" class="form-control" id="recipient-name" name="grade">
					   </div>
					
					  <div id="text-area-fleld" class="form-group">
						<label for="message-text" class="col-form-label">Description</label>
						<textarea class="form-control" id="message-text" rows="5" name="text"></textarea>
					  </div>
					  <div class="send-offerletter-shortcut-div d-flex justify-content-center">
						  <button id="each-offerletter-button-accept-3" type="submit" class="btn btn-sm btn-primary">Save</button>
					  </div>
			     </div>
			    </form>
			</div>
	</div>
</div>




<!-- Awards and Honors  MODEL -->

<div class="modal fade bd-awards-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<div class="preloader-all-pages main-loader-div">
		  <svg class="loading-box">
              <circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
					cy="24" r="17"></circle>
           </svg>
        </div>
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel">Add Awards & Honors</h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		      <form class="submit-forms" id="send-offerletter-for-offerletter-page" action="/user/<%= user._id %>/resume/award" method="POST">
			      <div id="workexp-modal-body" class="modal-body">
				     <div id="first-form-row" class="form-row">
						<div class="form-group col-md-6">
						   <label for="recipient-name" class="col-form-label">Title</label>
						   <input type="text" class="form-control" id="recipient-name" name="title">
				        </div>
				     </div>	
				     <div id="second-form-row" class="form-group">
						<label for="message-text" class="col-form-label">Date When you won medal</label>
						<input type="date" class="form-control" id="message-text" name="date">
					  </div>
				    <div id="text-area-fleld" class="form-group">
						<label for="message-text" class="col-form-label">Something About Award</label>
						<textarea class="form-control" id="message-text"  rows="5" name="text"></textarea>
					  </div>
				      <div class="send-offerletter-shortcut-div d-flex justify-content-center">
						  <button id="each-offerletter-button-accept-3" type="submit" class="btn btn-sm btn-primary">Save</button>
					  </div>
			     </div>
			    </form>
			</div>
	</div>
</div>


<!-- Project  MODEL -->
<div class="modal fade bd-projects-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<div class="preloader-all-pages main-loader-div">
		  <svg class="loading-box">
              <circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
					cy="24" r="17"></circle>
           </svg>
        </div>
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel">Add Project Details</h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		      <form class="submit-forms" id="send-offerletter-for-offerletter-page" action="/user/<%= user._id %>/resume/project" method="POST">
			      <div id="workexp-modal-body" class="modal-body">
				     <div id="first-form-row" class="form-row">
					   <div class="form-group col-md-6">
						 <label for="recipient-name" class="col-form-label">Title</label>
						 <input type="text" class="form-control" id="recipient-name" name="title">
				       </div>
				     </div>
				      <div id="second-form-row" class="form-row">
				     <div class="form-group  col-md-6">
						<label for="date-of-start" class="col-form-label">Date of Start</label>
						<input type="date" class="form-control" id="date-of-start" name="datestart">
					  </div>
				     <div id="third-form-row" class="form-group  col-md-6">
						<label for="dateofcompletion" class="col-form-label">Date of Completion</label>
						<input type="date" class="form-control" id="dateofcompletion" name="datecompl">
					  </div>
				    </div>
				     <div id="form-check" class="form-check">
						  <label class="form-check-label" for="exampleCheck2">Currently Working On Project</label>
                          <input type="checkbox" class="form-check-input" id="exampleCheck2" name="ongoingproj" value="yes"><p>( If yes Then click on checkbox )</p>
                    </div>
			        <div id="text-area-fleld" class="form-group">
						<label for="message-text" class="col-form-label">Something About Your Project</label>
						<textarea class="form-control" id="message-text"  rows="5" name="text"></textarea>
					  </div>
				      <div class="send-offerletter-shortcut-div d-flex justify-content-center">
						  <button id="each-offerletter-button-accept-3" type="submit" class="btn btn-sm btn-primary">Save</button>
					  </div>
			         </div>
			    </form>
			</div>
	</div>
</div>


<!-- OTHERS  MODEL -->
<div class="modal fade bd-others-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="modal-content" class="modal-content">
		<div class="preloader-all-pages main-loader-div">
		  <svg class="loading-box">
              <circle class="loader" fill="none" stroke-width="3" stroke-linecap="round" cx="24" 
					cy="24" r="17"></circle>
           </svg>
        </div>
		<h5 id="employer-send-offerletter-page" id="exampleModalLabel">Others Data</h5>
				<button id="employer-send-offerletter-page-button" type="button" class="close" 
						data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
		      <form class="submit-forms" id="send-offerletter-for-offerletter-page" action="/user/<%= user._id %>/resume/other" method="POST">
			      <div id="workexp-modal-body" class="modal-body">
				      <div id="first-form-row" class="form-row">
						<div class="form-group col-md-6">
						   <label for="recipient-name" class="col-form-label">Title</label>
						   <input type="text" class="form-control" id="recipient-name" name="title">
				        </div>
				     </div>	
				     <div id="text-area-fleld" class="form-group">
						<label for="message-text" class="col-form-label">Description</label>
						<textarea class="form-control" id="message-text"  rows="5" name="description"></textarea>
					  </div>
				      <div class="send-offerletter-shortcut-div d-flex justify-content-center">
						  <button id="each-offerletter-button-accept-3" type="submit" class="btn btn-sm btn-primary">Save</button>
					  </div>
			         </div>
			    </form>
			</div>
	</div>
</div>
